* {
    margin:0px;
}

.page-title {
    font-size: 45px;
    padding:7px;
    margin-left:20px;
}

body {
    background-color:white;
}

header {
    margin-top:35px;
    background-color:cornflowerblue;
}

.navbuttons {
    background-color: rgb(5, 202, 5);
    text-align: center;
    padding: 10px;
    border: 2px rgb(0, 132, 255) solid;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 45px;
    left: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}





/* CHANGES AFTER THIS LINE ARE FOR INDEX*/

#call-to-action {
    background-color:cornflowerblue;
    border-radius: 20px;
    position:absolute;
    left:150px;
    top:20%;
    font-size: 35px;
    padding: 10px;
}

.smaller {
    font-size:27px;
}

#homepage-pill-image {
    left:98%;
    top:25%;
    position: absolute;
    scale: 75%;
}
