
* {
    margin:0px;
}

.page-title {
    font-size: 45px;
    padding:7px;
    margin-left:20px;
}

body {
    background-color:white;
}

header {
    margin-top:35px;
    background-color:cornflowerblue;
}

.navbuttons {
    background-color:darkslateblue;
    text-align: center;
    padding: 10px;
    border: 2px rgb(0, 132, 255) solid;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    color:white;
}

nav {
    position: absolute;
    top: 45px;
    left: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer {
    position:absolute;
    bottom:0%;
    background-color: aliceblue;
    height:130px;
    width:100%;
}

.footerimg {
    scale:40%;
    padding:0px;
    bottom:90px;
    position: relative;
}

.smaller {font-size:27px;}



/*     IDs     */
#product-service {
    background-color:cornflowerblue;
    border-radius: 20px;
    position:absolute;
    left:150px;
    top:20%;
    font-size: 35px;
    padding: 10px;
    max-width: 600px;
}

#homepage-pill-image {
    left:72%;
    top:35%;
    position: absolute;
    scale: 180%;
}

#caption1 {position:absolute; bottom:30px; left:14%;}
#caption2 {position:absolute; bottom:30px; right:15%;}

#call-to-action {
    background-color:cornflowerblue;
    border-radius: 20px;
    position:absolute;
    left:150px;
    top:20%;
    font-size: 35px;
    padding: 10px;
    max-width: 600px;
}

#productneedleimg {right:25%; top:35%; position:absolute; scale:250%}