* {
    margin:0px;
}

.page-title {
    font-size: 45px;
    padding:7px;
    margin-left:20px;
}

body {
    background-color:rgb(0, 132, 255);
}

header {
    margin-top:35px;
    background-color:white;
}

.navbuttons {
    background-color: rgb(5, 202, 5);
    text-align: center;
    padding: 10px;
    border: 2px rgb(0, 132, 255) solid;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 45px;
    left: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}